.compose-form-div {
    padding: 1rem 1.2rem;
    margin: 6.7rem auto;
    background-color: #fff;
    width: 500px;
}

#title {
    width: 100%;
    padding: 0.5rem 1.4rem;
}

#body{
    width: 100%;
    min-height: 280px;
}

.form-div label{
    font-weight: 600;
    color: rgb(32, 28, 28);
}

.form-div input, .form-div textarea{
    font-size: 1.2rem;
    margin-top: 0.6rem;
    border: 1px solid rgb(32, 28, 28);
}

.form-body-div, .form-btn-div {
    margin-top: 1.2rem;
}