.folders-section{
    padding: 1rem 1.2rem;
    margin: 6.7rem auto;
}

.folder-flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: space-between;
}

.folder-div {
    text-align: center;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

.folder-div:hover{
    background-color: #e8ebff;
}

.folder-div img{
    width: 100px;
}

@media screen and (min-width: 543px) {

}    

@media screen and (min-width: 800px) {

}