main{
    width: 600px;
    height: 100vh;
    position: relative;
    margin: auto;
    box-shadow: 5px 2px 20px #ccc, -5px 2px 20px #ccc;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

header{
    position: fixed;
    width: 600px;
    left: 50%;
    top: 0;
    padding: 0.2rem 1.5rem;
    transform: translateX(-50%);
    background-color: black;
    color: white;
}

nav{
    background-color: black;
    position: fixed;
    /* bottom: 0;
    width: 600px; */
    width: 600px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 1.5rem 2rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

/* nav ul li {
    display: fl
} */

nav ul li a{
    color: white;
    font-size: 1.5rem;
}

.note-brand{
    display: flex;
    align-items: center;
}

.note-brand p{
    font-size: 1.5rem;
    font-weight: 900;
}

.navigation-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    width: 50px;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.user-header{
    display: flex;
    flex-wrap: wrap;
}

.user-header p{
    font-size: 1.2rem;
    margin-left: 0.6rem;
    font-weight: 600;
}


.note-section {
    padding: 4rem 1rem;
    margin-top: 3.6rem;
}

.search-form {
    margin-bottom: 1em;
    padding: 0 0.4rem;
}

.search-form input {
    width: 100%;
    border-radius: 15px;
    padding: 0.7rem;
    outline: none;
    border: none;
    font-size: 1rem;
}

.note-list {
    background-color: #fff;
    padding: 1.2rem 1rem;
    border-radius: 10px;
}

.note-list h3, .note-list p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-div {
    display: grid;
    margin-top: 2rem;
    /* background-color: green; */
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.3rem;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2.5rem;
}

.note-preview {
    width: 180px;
    /* height: 180px; */
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
}

.note-preview h3{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.note-preview p{
    margin: 0;
    margin-top: 0.7rem;
    display: -webkit-box;
    line-height: 1.5rem;
    /* max-width: 200px; */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

