.schedule-div {
    display: none;
    margin-bottom: 0;
    /* margin-right: 29px; */
    /* background-color: red; */
}
  
.schedule, .timetable {
    width: 100%;
}

.schedule {
    padding-top: 10px;
    height: 450px;
    position: relative;
}

.timetable {
    margin-top: 50px;
    height: 228px;
    padding-left: 15px;
    padding-top: 15px;
}

.timetable-div {
    display: flex;
    margin-top: 15px;
    background:  #F0F0F0;
    padding-left: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
    border-radius: 15px;
}

.timetable-div img {
    border-radius: 10px;
    margin-right: 30px;
}

.chart-container {
    margin-top: 15px;
}

.chart {
    display: grid;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;  
    width: 467px;
    grid-template-columns: repeat(6, 1fr);
}
.chart-row {
    display: grid;      
    grid-template-rows: 70px 1fr;
    background-color: #fff;
}
/* .chart-row:nth-child(odd) {
    background-color: rgb(39, 45, 123);
} */
.chart-period {
    color: rgb(39, 45, 123);
    background-color: #fff !important;
    border-right: 1px solid #ccc; 
    grid-template-rows: 70px repeat(12, 1fr);
}
.chart-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-template-rows: 70px repeat(12, 1fr);
}
.chart-period > span {    
    text-align: center;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
    padding: 15px 0;    
}
.chart-lines > span {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.chart-row-item {
    /* background-color: #E7F3FB; */
    border: 1px solid  #ccc;
    /* color: #fff; */
    border-top: 0;
    border-left: 0;      
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
} 

.chart-row-bars {
    list-style: none;
    display: grid;
    padding: 15px 0;
    margin: 0;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px 0;
    border-right: 1px solid  #ccc;
}
.chart-row .chart-row-bars li {
    font-weight: 450;
    text-align: left;
    font-size: 15px;
    min-height: 15px;
    padding: 5px 15px;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
}
.chart-row-bars .chart-li-one {
    grid-row: 1/5; 
    background-color:#588BAE;
}
.chart-row-bars .chart-li-two-a {
    grid-row: 12/13; 
    background-color: #0080FF;
}
.chart-row-bars .chart-li-two-b {
    grid-row: 2/5;  
    background-color:#4682B4;
} 
.chart-row-bars .chart-li-three {
    grid-row: 4/6; 
    background-color:#57A0D3;
}
.chart-row-bars .chart-li-four {
    grid-row: 7/8; 
    background-color:#0E4D92;
}
.chart-row-bars .chart-li-five {
    grid-column: 2/3; 
    background-color:#4F97A3;
}

.chart-row-bars .chart-li-six {
    grid-row: 4/5;  
    background-color:#4F97A3;
}

.chart-row-bars .chart-li-seven {
    grid-row: 11/13;  
    background-color:#4F97A3;
}