.schedule-div {
    display: none;
    margin-bottom: 0;
    /* margin-right: 29px; */
    /* background-color: red; */
}
  
.schedule, .timetable {
    width: 100%;
}

.schedule {
    padding-top: 10px;
    height: 450px;
    position: relative;
}

.timetable {
    margin-top: 50px;
    height: 228px;
    padding-left: 15px;
    padding-top: 15px;
}

.timetable-div {
    display: flex;
    margin-top: 15px;
    background:  #F0F0F0;
    padding-left: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
    border-radius: 15px;
}

.timetable-div img {
    border-radius: 10px;
    margin-right: 30px;
}

.chart{
    display: grid;
    position: relative;
    /* width: 450px; */
    grid-template-columns: 120px 1fr;
    border: 1px solid #ccc;
}

.chart-column {
    display: grid;
    grid-template-rows: 50px repeat(12, 1fr);
}

.chart-column:not(.chart-time) {
    border-right: 1px solid #ccc;
}

/* .chart-heading{
    background-color: #F0F0F0;
} */

.chart-column div {
    padding: 1rem;
    /* border-bottom: 1px solid green;
    border-right: 1px solid black; */
}

/* .chart-time div:not(.chart-period){
    padding: 1rem;
    border-bottom: 1px solid green;
    border-right: 1px solid black;
} */

.chart-content{
    padding: 0 0.8rem;
    background-color: #fff;
}

.chart-time{
    background-color: #F0F0F0;
}

.chart-time{
    font-weight: 600;
    color: rgb(36, 28, 28);
}

.chart-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-template-rows: 50px repeat(12, 1fr);
}
.chart-lines > span {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.chart-row-bars {
    font-weight: 450;
    font-size: 15px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(1, 124, 1);
    border-left: 7px solid  rgb(9, 71, 9);
    z-index: 20;
}

.chart-row-bars p{
    font-weight: 450;
    font-size: 15px;
    color: #fff;
}

.chart-row-bars.chart-item-sun {
    grid-row: 2/5;
}

/* .chart-text-container{
    background-color: rgba(0, 0, 255, 1);
    border-radius: 15px;
    height: 80%;
} */