.tasks-page {
  display: grid;
  grid-template-columns: 60% 1fr;
  column-gap: 1.3rem;
}

#nav-toggle:checked ~ .main-content .main-main .tasks-page {
  grid-template-columns: 63% 1fr;
}

.all-tasks-div {
  columns: 3 250px;
  column-gap: 2rem;
  column-fill: balance;
}

.task-div {
  display: inline-block;
  break-inside: avoid;
  background-color: #fff;
  padding: 1rem 0;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 15px;
}

.task-div-inner {
  padding: 0 1.2rem;
  width: 100%;
}

.task-more-info {
  display: flex;
  justify-content: space-between;
}

.task-more-info p {
  font-size: 0.8rem;
  font-weight: 600;
}

.task-more-info p i {
  font-size: 1.1rem;
  vertical-align: text-bottom;
}

.task-more-info button {
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: transparent;
}

.task-course-details {
  margin: 1rem 0;
  width: 100%;
}

.task-course-details {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-course-title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* text-align: center !important; */
}

.task-course-code {
  margin-bottom: 0.6rem;
}

.task-course-title {
  margin-bottom: 0.9rem;
}

.task-course-code,
.task-course-title {
  text-align: center;
}

.task-progress {
  margin-bottom: 0.6rem;
  font-weight: 600;
}

.task-progress-bar {
  height: 0.5rem;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 0.3rem;
}

.task-progress-inner {
  width: 40%;
  height: 100%;
  background-color: #f6c626;
  border-radius: 0.3rem;
}

.task-progress-percent {
  text-align: right;
  margin-top: 0.6rem;
  font-weight: 600;
}

.task-bottom-divider {
  height: 0.1rem;
  background-color: #f0f0f0;
}

.task-remaining-days {
  padding: 0 1.2rem;
  margin-top: 0.9rem;
}

.task-remaining-days div {
  padding: 0.4rem 1rem;
  width: fit-content;
  background-color: rgb(246, 198, 38, 0.2);
  color: rgb(219, 173, 24);
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 1.1rem;
}

.calender {
  background-color: #fff;
  padding: 1rem;
}

.calender .cld-main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* background-color: red; */
}

.cld-datetime .today {
  font-size: 1.5rem;
  font-weight: 700;
}

.cld-datetime {
  margin-bottom: 1rem;
}

.pie-chart-div {
  background-color: #fff;
  margin-top: 2.5rem;
  width: 100%;
}

.pie-chart-div div {
  width: 97%;
  margin: 0 auto;
}

@media only screen and (max-width: 1023px) {
  .tasks-page {
    display: block;
  }

  aside {
    display: none;
  }
}
